*{margin: 0; padding: 0;}
.home_main_wrap{
    width: 100%;
}
.home_wrap{
    width: 1200px;
    margin: 0 auto;
}
/*start header*/
.header_bg{
    background-color: #01546B;
}
#header_wrap{
    overflow: hidden;
    
}
#header_wrap h2{
    color: #fff;
    float: left;
    padding-top: 10px;
}
#header_manu{
    float: right;
}
#header_manu ul li{
    float: left;
    list-style-type: none;
    border-right: 1px solid #fff;
}
#header_manu ul li:first-child{
    border-left: 1px solid #fff;
}
#header_manu ul li a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    display: block;
}

.header_bg2{
    -webkit-box-shadow: 1px 8px 15px -8px #000000; 
box-shadow: 1px 8px 15px -8px #000000;
}
#header_wrap2{
    overflow: hidden;
}
#header_wrap2 h2{
    color: #000;
    float: left;
    padding-top: 10px;
}
#header_manu2{
    float: right;
}
#header_manu2 ul li{
    float: left;
    list-style-type: none;
}
#header_manu2 ul li a{
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 15px 20px;
    display: block;
}
#header_manu2 ul li a:hover{
    color: #01546B;
}
/*end header*/
/*start nav*/
#nav_wrap{
    padding-top: 40px;
}
#nav_img1{
    float: left;
}
#nav_img1 img{
    width: 800px;
    height: 500px;
    padding-right: 30px;
}
#short_text p span{
    color: #01546B;
}
#short_text p{
    margin-bottom: 15px;
}
#nav_img2{
    float: right;
    padding-top: 15px;
}
#nav_img2 img{
    width: 370px;
    height: 250px;
}
#headline1{
    float: right;
    padding-right: 135px;
}
#border1{
    width: 370px;
    height: 5px;
    background-color: #01546B;
    float: right;
}
#border2{
    width: 320px;
    height: 5px;
    background-color: #b2b6b8;
    float: right;
    margin-top: 3px;
}
#nav_img2 p span{
    color: #01546B;
}
#nav_img2 p{
    margin-bottom: 10px;
}
#nav_img2_details h3{
    margin-bottom: 15px;
}
#nav_img2_details p{
    text-align: justify;
}
/*end nav*/

#section_bg_border_top{
    height: 7px;
    width: 50%;
    background-color: #01546B;
    margin-top: 40px;
    float: left;
}
#section_bg_border_top2{
    height: 7px;
    width: 50%;
    background-color: rgb(224, 134, 134);
    margin-top: 40px;
    float: left;
}

/*start section*/

.section_bg{
    background-color: #D5D5D5;
    height: 500px;
    margin-top: 90px;
    overflow: hidden;
}
#section_colomn1{
    width: 295px;
    height: 400px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 10%;
    text-align: center;
    float: left;
    margin-left: 5px;
}
#section_colomn1 img{
    height: 195px;
    width: 285px;
    margin-left: 5px;
    border-radius: 20%;
    margin-top: 5px;
}
#section_colomn1 h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 10px;
    color: #01546B;

}
#bio{
    margin-bottom: 10px;
    color: #999ea0;
}
#section_wrap_2nd{
    width: 700px;
    float: left;
}
#content1 img{
    width: 700px;
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
}
#content1 h1{
    margin: 10px 0px;
}
#content1 p{
    text-align: justify;
}
/*end section*/
/*start article*/

#article_wrap{
    width: 450px;
    height: 800px;
    background-color: #b2b6b8;
    float: left;
    margin-top: 50px;
    float: right;
    border-radius: 20px;
    border: 3px solid;
}
#letest_news_border_top{
    width: 350px;
    height: 5px;
    background-color: #feffff;
    margin-top: 40px;
}
#letest_news_border_bottom{
    width: 350px;
    height: 5px;
    background-color: #feffff;
    margin-top: 10px;
    float: right;
}
#latest_news h2{
    margin-left: 110px;
    margin-top: 10px;
    color: #01546B;
}
#letest_news1{
    margin-top: 80px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#carcle1{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 15px;
    float: left;
    margin-top: 20px;
}
#letest_news1 p{
    margin-left: 50px;
    padding: 15px 0px;
}
/*end article*/
/*start footer*/
.footer_bg{
    width: 100%;
    height: 500px;
    background-color: #000;
    margin-top: 1000px;
}
#footer_colomn_wrap{
    padding-top: 40px;
}
#colomn1{
    width: 360px;
    float: left;
}
#colomn1 h2{
    color: #fff;
}
#footer_border1{
    width: 100%;
    height: 5px;
    background-color: #01546B;
    margin-top: 20px;
}
#colomn1 p{
    color: #fff;
    margin-top: 20px;
    text-align: justify;
}
#colomn2{
    float: left;
    margin-left: 40px;
    width: 360px;
}
#colomn2 h2{
    color: #fff;
}
#populer_post_details1{
    margin-top: 20px;
    border-bottom: 1px solid #01546B;
    padding-bottom: 30px;
}
#populer_post_details1 img{
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 10px;
}
#populer_post_details1 p{
    color: #fff;
    text-align: justify;
}
#colomn3{
    float: left;
    margin-left: 40px;
    width: 360px;
}
#colomn3 h2{
    color: #fff;
}
#colomn3 input[type="text"]{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
}
#colomn3 input[type="submit"]{
    width: 80px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #01546B;
    color: #fff;
    cursor:pointer;
}
#submit_rouls h2{
    margin-top: 20px;
    color: #01546B;
}
#submit_rouls p{
    color: #fff;
    margin-top: 20px;
}
.footer_bg2{
    width: 100%;
    height: 30px;
    background-color: #01546B;
}
.footer_bg2{
    text-align: center;
}